@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <div class="banner-col-2">
        <h1 class="addvertise">VINAWATCH, ĐỒNG HỒ DÀNH CHO NGƯỜI VIỆT</h1>
        <a href="#" class="button">Explore Now &#10132;</a>
    </div>
    <div class="banner-col-2">
        <img src="~/Images/images2.jpg" />
    </div>
</div>